trunk/Document/Payoo/Payoo/FPTShop_Payoo Integration 20130314 - Topup/VUDemo/VUDemo/Web References/VUService/UniGWS.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" xmlns:tns="UniGWS" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tm="http://microsoft.com/wsdl/mime/textMatching/" xmlns:s="http://www.w3.org/2001/XMLSchema" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" targetNamespace="UniGWS" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <s:schema elementFormDefault="qualified" targetNamespace="UniGWS">
      <s:element name="Execute">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="request" type="tns:UniGWSRequest" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:complexType name="UniGWSRequest">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="1" name="ClientId" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="RequestTime" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="Checksum" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="Operation" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="RequestData" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="Signature" type="s:string" />
        </s:sequence>
      </s:complexType>
      <s:element name="ExecuteResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="ExecuteResult" type="tns:UniGWSResponse" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:complexType name="UniGWSResponse">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="1" name="ResponseData" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="Signature" type="s:string" />
        </s:sequence>
      </s:complexType>
      <s:element name="Execute2">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="request" type="tns:UniGWSRequest" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="Execute2Response">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="Execute2Result" type="tns:UniGWSResponse" />
          </s:sequence>
        </s:complexType>
      </s:element>
    </s:schema>
  </wsdl:types>
  <wsdl:message name="ExecuteSoapIn">
    <wsdl:part name="parameters" element="tns:Execute" />
  </wsdl:message>
  <wsdl:message name="ExecuteSoapOut">
    <wsdl:part name="parameters" element="tns:ExecuteResponse" />
  </wsdl:message>
  <wsdl:message name="Execute2SoapIn">
    <wsdl:part name="parameters" element="tns:Execute2" />
  </wsdl:message>
  <wsdl:message name="Execute2SoapOut">
    <wsdl:part name="parameters" element="tns:Execute2Response" />
  </wsdl:message>
  <wsdl:portType name="UniGWSSoap">
    <wsdl:operation name="Execute">
      <wsdl:input message="tns:ExecuteSoapIn" />
      <wsdl:output message="tns:ExecuteSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="Execute2">
      <wsdl:input message="tns:Execute2SoapIn" />
      <wsdl:output message="tns:Execute2SoapOut" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="UniGWSSoap" type="tns:UniGWSSoap">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="Execute">
      <soap:operation soapAction="UniGWS/Execute" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Execute2">
      <soap:operation soapAction="UniGWS/Execute2" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="UniGWSSoap12" type="tns:UniGWSSoap">
    <soap12:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="Execute">
      <soap12:operation soapAction="UniGWS/Execute" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Execute2">
      <soap12:operation soapAction="UniGWS/Execute2" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="UniGWS">
    <wsdl:port name="UniGWSSoap" binding="tns:UniGWSSoap">
      <soap:address location="https://posgwsandbox.payoo.com.vn/UniGWS.asmx" />
    </wsdl:port>
    <wsdl:port name="UniGWSSoap12" binding="tns:UniGWSSoap12">
      <soap12:address location="https://posgwsandbox.payoo.com.vn/UniGWS.asmx" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>